body {
    background-image: url('https://us.123rf.com/450wm/polyarnaya/polyarnaya1808/polyarnaya180800270/107618764-seamless-pattern-leaves-of-the-lotus-pond-background-in-the-chinese-style-hand-drawn.jpg?ver=6');
    background-repeat: repeat;
}