body {
    background-image: url('https://t3.ftcdn.net/jpg/15/15/41/62/360_F_1515416200_3YJApo1bvtyXX52w5k26sMQWPg1ldEVP.jpg');
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.6);
}